.nav {
    position: absolute;
    top: 65%;
    left: 80%;
}

.nav ul {
    list-style-type: none;
    padding-inline-start: 0;

}

@media (max-width: 1024px) {    
    .nav {        
        position: static;
    }

    .nav ul {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
}